.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70rem;
    height: 60rem;
    background-color: rgb(200, 200, 200);
    z-index: 1;
}

.plane {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-10%, -50%);
    height: 8em;
    transition: all 0.5s ease;
}

.obstacles {
    position: absolute;
    left: 76%;
    display: none;
}
